{{#each footerColumns}}
	<ul class='footer-col'>
	{{#each footerItems}}
		<li class='footer-item'>
		<span class='footer-item-name'>{{name}}</span>
		<span class='footer-item-value'>{{value}}</span>
		</li>
	{{/each}}
	</ul>
{{/each}}
